// Custom color variables
//text
$color--white: #ffffff;
$color--theme: #2b00c2;
$color--gray: #5f5f5f;
$color--grey--one: #232829;
$color--grey--four: #a1aab1;
$color--nav: #858d97;
$color--branding-main-heading: #353B3E;
$color--branding-desc: #4C5459;
$color--black: #000000;
$color--lightgreen: #0DBDBA;
$color--red: #D95776;
$color--purple: #9D73F7;
$color--green: #67BB6E;
$color--orange: #F49C34;
//background colors
$color--background--topbanner: #ececec;

//borders
$color--border--sidebar: #dee0e6;
