$font-notosans-regular: 'NotoSans Regular', sans-serif;
$font-notosans-medium: 'NotoSans Medium', sans-serif;
$font-notosans-semibold: 'NotoSans SemiBold', sans-serif;
$font-notosans-bold: 'NotoSans Bold', sans-serif;
$font-notosans-light: 'NotoSans Light', sans-serif;
